<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Etudiant</title>
    <link rel="stylesheet" href="{% static 'student/css/bootstrap.css' %}">
</head>
<body>
    <div class = "cnotainer mt-5">
        <h2 class = "text-center alert alert-danger ">Fonction CRUD Basée sur la gestion d'Etudiant</h2>
        {% block content %} {% endblock content %}
    </div>
    <script src = "{% static  'student/js/jquery.js' %}"></script>
    <script src = "{% static  'student/js/bootstrap.js' %}"></script>
    <script src = "{% static  'student/js/popper.js'  %}"></script>
</body>
</html>